%h1 Listing keys and Namespaces
%p= link_to "add a key", new_key_path

- for key in @keys
  = display_key(key)
  %br
-#  %br
-#  
-#- for namespace in @namespaces
-#  = display_namespaces(namespace)
    
    
- for namespace in @namespaces
  = render :partial => "keys/namespace", :locals => { :namespace => namespace }
  