%h1 Export file

%table
  %tr
    %th= "locale"
    %th= "export as Yaml"
  - for locale in @locales do
    %tr
      %td= locale.name
      %td= link_to "Yaml", export_file_path(:locale_id => locale.id)

    